#title{
color:blue;
text-align:center;
border:1px solid black;
padding:4px;
background-color: rgb(250, 233, 241);

}
p.blog1{
    background-color: rgb(213, 245, 163);
    
}

p.blog2{
    background-color: rgb(213, 245, 163);
    
}